body{
	color: #222;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.zona_arrastre{
	border: 6px dashed #5172ce;
	padding: 60px 20px;
	max-width: 500px;
	color: #222;
	margin: auto;
	margin-top: 30px;
	text-align: center;
}

.resultado{
	text-align: center;
	padding: 20px;
}

img{
	width: 400px;
	margin: auto;
}

video{
	width: 600px;
	margin: auto;
}

.barra_carga{
	max-width: 500px;
	height: 20px;
	font-size: 15px;
	font-family: fantasy;
	margin: auto;
	padding: auto;
	border: 1px solid black;
	text-align: center;
	z-index: 1;
}

.progreso{
	width: 0px;
	height: 100%;
	background: red;
	z-index: 2;
	position: relative;
	z-index: 1;
}

.porcentaje{
	display: inline;
	position: absolute;
	z-index: 2;
}

