.circulo{
	border-radius: 50%;
	padding: 40px;
	background: #f00;
	display: inline-block;

}

.zona{
	padding: 100px 200px;
	background: #ccc;
	margin: 50px;
	outline: 6px dashed #4c77f3;
	box-sizing: border-box;
}