body{
	width: 5000px;
	height: 5000px;
	background: linear-gradient(to top left, #666699 0%, #ffffcc 100%);
}

#boton1{
	position: -webkit-sticky;
  	position: sticky;
 	top: 50px;
 	left: 10px;
 	z-index: 3;
}

#boton2{
	position: -webkit-sticky;
  	position: sticky;
 	top: 50px;
 	left: 150px;
 	z-index: 3;
}

#boton3{
	position: -webkit-sticky;
  	position: sticky;
 	top: 50px;
 	left: 350px;
 	z-index: 3;
}

#boton4{
	position: -webkit-sticky;
  	position: sticky;
 	top: 50px;
 	left: 600px;
 	z-index: 3;
}